:root {
    --base-font: 'Beleren SmallCaps Bold';
    --secondary-font: 'Beleren Bold';
}

* {
    box-sizing: border-box;
}

body {
    background: grey;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img .logo {
    margin: 1rem;
}

h1 {
    /* font-family: var(--secondary-font); */
    text-align: center;
    margin: .5rem;
    color: lightblue;
    text-shadow: .1rem .1rem .40rem blue;
}

p {
    /* font-family: var(--secondary-font); */
    text-align: center;
    margin: 1rem;
}

.commander-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightcoral;
    border-radius: 25px;
}

.card-container {
    margin: 1rem 0;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    height: 100%;
    justify-self: center;
    padding: .5rem;
}

.card-info {
    text-align: center;
    border-top: 2px solid lightcoral;
}


.form-group {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
