.mana-symbol {
  width: .5rem;
  height: .5rem;
  margin: .05rem;
  vertical-align: middle;
}

.commander-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-accent);
    border-radius: 25px;
}

.card-container {
    margin: 1rem 0;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card-img {
    height: 100%;
    justify-self: center;
    padding: .5rem;
    filter: drop-shadow(0 0 0.75rem #dc1b21);
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-name {
    font-size: 1rem;
    line-height: 1.75rem;
    text-decoration: underline var(--light-accent);
    text-underline-offset: .5rem;
    font-weight: 800;
}

.card-text {
    font-size: .75rem;
    width: 65%;
    margin-top: .5rem;
    text-align: left;
}

.show-info {
    text-align: center;
    border-top: 2px solid var(--light-accent);
    width: 80vw;
    padding: 1rem;
}

.status-message {
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}

@media (min-width: 768px) and (max-width: 899px) {
    .commander-container {
        flex-direction: row;
        width: 80vw;
        border: none;
        gap: 2rem;
    }
    .card-container {
        width: 45vw;
        border: 2px solid var(--light-accent);
        border-radius: 25px;
    }
    .show-info {
        border-top: none;
        border: 2px solid var(--light-accent);
        border-radius: 25px;
        width: 30vw;
    }
    .mana-symbol {
        width: .75rem;
        height: .75rem;
        margin: .1rem;
    }
}

@media (min-width: 900px) {
    .commander-container {
        flex-direction: row;
        width: 80vw;
        border: none;
        gap: 2rem;
    }
    .card-container {
        width: 35vw;
        border: 2px solid var(--light-accent);
        border-radius: 25px;
        margin-top: 0;
    }
    .show-info {
        border-top: none;
        border: 2px solid var(--light-accent);
        border-radius: 25px;
        width: 25vw;
    }
    .card-name {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .card-text {
        font-size: 1rem;
        width: 85%;
    }
    .mana-symbol {
        width: .75rem;
        height: .75rem;
        margin: .1rem;
    }
}