.mana-symbol {
  width: .5rem;
  height: .5rem;
  margin: .05rem;
  vertical-align: middle;
}

.commander-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-accent);
    border-radius: 25px;
}

.card-container {
    margin: 1rem 0;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card-img {
    height: 100%;
    justify-self: center;
    padding: .5rem;
    filter: drop-shadow(0 0 0.75rem #dc1b21);
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-name {
    font-size: 1rem;
    line-height: 1.75rem;
    text-decoration: underline var(--light-accent);
    text-underline-offset: .5rem;
}

.card-text {
    font-size: .75rem;
    width: 65%;
    margin-top: .5rem;
    text-align: left;
}

.show-info {
    text-align: center;
    border-top: 2px solid var(--light-accent);
    width: 75vw;
    padding: 1rem;
}

.status-message {
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}