.form-group {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

.form-label {
    margin: 0;
}


.btn-primary {
    background-color: #be4305;
    border-color: #be4305;
    color: var(--primary-font-color);
    --bs-btn-active-bg: #da5f21;
    --bs-btn-active-border-color: #da5f21;
    --bs-btn-active-color: var(--background);
    font-family: var(--info-font) ;
}

.btn-check+.btn:hover {
    background-color: #da5f21;
    border-color: #da5f21;
    color: var(--background);
}

.btn:hover {
    background-color: #da5f21;
    border-color: #da5f21;
    color: var(--background);
}